@keyframes move-first {
    from {
        top: 16px
    }
    50%{
        top: 50px;
    }
    to {
        top: 16px;
    }
}

@keyframes move-second {
    from{
        top:-100%
    }
    50%{
        top:-85%
    }
    to{
        top:-100%
    }
}


@keyframes move_qr {
    from{
        top: -220px;
    }

    50%{
        top:-180px
    }

    to{
        top:-220px
    }
}

@keyframes te {
    to {
        margin: -40px auto;
    }
}


@keyframes te2 {
    to {
        margin: 50px auto;
    }
}